# Solutions
### Chapter 3: strings

### 1

In [1]:
print("Peter\n2021\nHarringtonPark\nI love Python!")

Peter
2021
HarringtonPark
I love Python!

### 2

In [2]:
print('This is how you print a double-quote ("), a backslash (\), and a lowercase o with stroke (ø).')
print('A tab and a newline are printed using a "\\t" and "\\n", respectively.')

This is how you print a double-quote ("), a backslash (\), and a lowercase o with stroke (ø).
A tab and a newline are printed using a "\t" and "\n", respectively.

> Note that one of the useful features of python's ability to use both " and ' as a deliminators for a string, is that you dont have to use backslashes to escape one kind of quotation mark.

In [3]:
print('This is how you print a double-quote (\"), a backslash (\), and a lowercase o with stroke (\u00F8).')
print('A tab and a newline are printed using a \"\\t\" and \"\\n\", respectively.')

This is how you print a double-quote ("), a backslash (\), and a lowercase o with stroke (ø).
A tab and a newline are printed using a "\t" and "\n", respectively.

In [3]:
print("""This is how you print a double-quote ("), a backslash (\), and a lowercase o with stroke (ø).
A tab and a newline are printed using a "\\t" and "\\n", respectively.""")

This is how you print a double-quote ("), a backslash (\), and a lowercase o with stroke (ø).
A tab and a newline are printed using a "\t" and "\n", respectively.

### 3

In [4]:
("super" + "-duper" * 10 + "-fun")[34]

'r'

In [5]:
("super" + "-duper" * 10 + "-fun")[-35]

'r'

### 4

In [6]:
print("length of newline character: ", len("\n"))

length of newline character:  1

### 5

In [7]:
alph = "abcdefghijklmnopqrstuvwxyz"

print(alph[1:14:2])
print(alph[7:2:-2])
print(alph[24:8:-3])
print(alph[23:12:-6])

bdfhjln
hfd
yvspmj
xr

### 6

In [2]:
a = "Sample string 123!"

print(a.capitalize())
print(a.center(50, "#"))
print(a.count("s"))
print(a.endswith("123!"))
print(a.find("s"))
print(a.index("a"))

Sample string 123!
################Sample string 123!################
1
True
7
1

### 7

In [9]:
firstName = "Peter"
lastName = "Francis"

print(lastName[:4].lower() + firstName[:2].lower() + "01")

franpe01